<%- include('header') -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolor adipisci maiores a, architecto tempore fuga esse 
  voluptatum necessitatibus consectetur soluta illo. Voluptas eligendi cupiditate omnis? Ab, beatae cupiditate? In voluptatum
   temporibus at perferendis odit, harum nostrum aliquam? Animi molestiae, consectetur natus enim, iusto nulla nihil ullam quasi 
   praesentium perferendis cum explicabo pariatur consequatur eaque recusandae voluptates quos, officiis ab voluptatum laborum
    laudantium architecto nobis! Officiis provident molestias doloribus ratione alias nostrum ut aut neque inventore harum eius 
    voluptas esse explicabo repellendus dolore voluptate delectus ea a, ex fuga odio obcaecati debitis deserunt magni. Sed ratione 
    voluptas fugit aut impedit! Vero ipsum nesciunt illum veniam debitis maiores neque excepturi fugit consectetur officiis sapiente,
    Reprehenderit blanditiis pariatur illo, culpa ex molestias consequuntur hic odio velit deserunt corrupti, at, laboriosam laborum 
    voluptatem sit tenetur nemo vero voluptates amet asperiores aliquid quod ipsa iure! Voluptatibus suscipit impedit voluptate, vel 
    fugit earum officia, in ullam, hic consequuntur aliquam nemo. Excepturi corrupti ipsa officia enim doloribus velit ipsum repellat 
    tempore quia, nihil quae, repellendus neque iusto eum quibusdam architecto nam deserunt reprehenderit ullam error sapiente suscipit temporibus.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolor adipisci maiores a, architecto tempore fuga esse 
  voluptatum necessitatibus consectetur soluta illo. Voluptas eligendi cupiditate omnis? Ab, beatae cupiditate? In voluptatum
   temporibus at perferendis odit, harum nostrum aliquam? Animi molestiae, consectetur natus enim, iusto nulla nihil ullam quasi 
   praesentium perferendis cum explicabo pariatur consequatur eaque recusandae voluptates quos, officiis ab voluptatum laborum
    laudantium architecto nobis! Officiis provident molestias doloribus ratione alias nostrum ut aut neque inventore harum eius 
    voluptas esse explicabo repellendus dolore voluptate delectus ea a, ex fuga odio obcaecati debitis deserunt magni. Sed ratione 
    voluptas fugit aut impedit! Vero ipsum nesciunt illum veniam debitis maiores neque excepturi fugit consectetur officiis sapiente,
    Reprehenderit blanditiis pariatur illo, culpa ex molestias consequuntur hic odio velit deserunt corrupti, at, laboriosam laborum 
    voluptatem sit tenetur nemo vero voluptates amet asperiores aliquid quod ipsa iure! Voluptatibus suscipit impedit voluptate, vel 
    fugit earum officia, in ullam, hic consequuntur aliquam nemo. Excepturi corrupti ipsa officia enim doloribus velit ipsum repellat 
    tempore quia, nihil quae, repellendus neque iusto eum quibusdam architecto nam deserunt reprehenderit ullam error sapiente suscipit temporibus.</p>
<%- include('footer') -%>